<div class="head container">
    <div class="row">
        <div class="col-12">
            <h1>Weather Forecast App</h1>
        </div>
    </div>
</div>

<div class="body container">
    <div class="row">
        <div class="col-sm-12 controls">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{Main.displayedCity}}
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <li ng-repeat="city in Main.citiesList">
                        <a ng-hide="Main.displayedCity === city.name"
                           ng-click="Main.loadWeatherForecast(city)"
                           href="javascript:void(0)">
                            {{city.name}}
                        </a>
                    </li>
                </ul>
            </span>

            <span class="units-label">Units: </span>
            <label>
                <input type="radio" ng-model="Main.units" ng-change="Main.loadWeatherForecast()"
                          value="metric" name="units">
                °C
            </label>

            <label>
                <input type="radio" ng-model="Main.units" ng-change="Main.loadWeatherForecast()"
                       value="imperial" name="units">
                °F
            </label>
        </div>

        <div ng-if="Main.isLoading" class="col-sm-12">
            <p>Loading...<p/>
        </div>

        <div ng-if="Main.errorOccurred" class="col-sm-12 error">
            <p>Sorry something went wrong with Open Weather API...<p/>
        </div>

        <div ng-if="!Main.isLoading && !Main.errorOccurred" class="col-sm-12 weather-details">
            <div class="col-md-1"></div>

            <weather-details weather-details-data="{{Main.selectedWeather}}" class="col-md-10"></weather-details>
        </div>

        <div ng-if="!Main.isLoading && !Main.errorOccurred" class="col-sm-12 weather-cards-title">
            <p>Click on a card to view weather details</p>
        </div>

        <div ng-if="!Main.isLoading && !Main.errorOccurred" class="col-sm-12">

            <div class="col-md-1"></div>

            <div ng-repeat="weather in Main.weatherData" ng-if="$index < 5" class="weather-card col-md-2">
                <weather-card weather-details-data="{{weather}}"
                              ng-click="Main.selectDateWeather(weather)" class="col-sm-12">
                </weather-card>
            </div>
        </div>
    </div>
</div>