.head{
    background-color: #47A9CC;
    color: white;
}

.head h1{
    text-align: center;
}

.body{
    background-color: #646464;
    color: white;
    padding: 25px 25px;
}

.body .controls{
    text-align: center;
    margin-bottom: 10px;
}

.body .units-label{
    margin-left: 10px;
}

.body .error{
    color: #F9ACBA;
}

.body table{
    background-color: white;
    color: black;
    margin-top : 10px;
}

.body .weather-card{
    border: 2px solid white;
    padding: 0px;
    margin-top: 5px;
}

.body .weather-card div{
    padding: 0px;
}