<div class="col-sm-12">
    <div class="col-md-12">
        <h7>
            {{WeatherCard.date.format('dddd, MMM Do')}}
        </h7>
    </div>

    <div class="col-md-12">
        <h7>
            Status: <img ng-src="{{WeatherCard.getWeatherIconPath()}}">
        </h7>
    </div>

    <div class="col-md-12">
        <h7 ng-if="WeatherCard.dailyMaxTemp === WeatherCard.dailyMinTemp">
            {{WeatherCard.dailyMaxTemp}}
        </h7>

        <h7 ng-if="WeatherCard.dailyMaxTemp !== WeatherCard.dailyMinTemp">
            {{WeatherCard.dailyMinTemp}} ~ {{WeatherCard.dailyMaxTemp}}
        </h7>
    </div>
</div>